Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [20]:
#STRING
my_string = "Hello, Coders!"

#LIST
my_list = [1,2.69,'python',777]

#FLOAT
my_float = 6.14

#TUPLE
my_tuple = (5.63,'data science',896,'ipl')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [26]:
#1
var1 = ''
#2
var2 = '[ DS , ML , Python]'
#3
var3 = [ 'DS' , 'ML' , 'Python' ]
#4
var4 = 1

In [29]:
type(var1)

str

In [30]:
type(var2)

str

In [31]:
type(var3)

list

In [32]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [40]:
"""1)'/' this is a division opreator which basically returns the quotient when a number is divided by another
and it follows the float point division which means it retruns floating point result even if the oprends are intergers"""

#exapmle
a = 59
b = 21
result = a/b

In [41]:
result

2.8095238095238093

In [2]:
""""2) '%' this is module opreation which basically divides the number by another and retruns the remainder as output"""

#example
a = 59
b = 21
result = a % b

In [3]:
result

17

In [4]:
"""3) '//' this is floor division opreator which basically divides the number by another and 
returns the largest integer that is less than or equal to the quotient"""

#example 
a = 59
b = 21
result = a//b

In [5]:
result

2

In [6]:
"""4) '**' this is exponention opreator which basically returns the exponential power of a number with respective another"""

#exapmle
a = 59
b = 21
result = a**b

In [7]:
result

15413179794770734626518662321719325259

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
my_list = ['Hello Coders!', 143, 143.6, (5,6,7), {'a','b','c',}, [123,'apple'], False, True, 2+7j, 'END']

for quanter in my_list:
    print(quanter,type(quanter))

Hello Coders! <class 'str'>
143 <class 'int'>
143.6 <class 'float'>
(5, 6, 7) <class 'tuple'>
{'b', 'a', 'c'} <class 'set'>
[123, 'apple'] <class 'list'>
False <class 'bool'>
True <class 'bool'>
(2+7j) <class 'complex'>
END <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0
while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"The number A is divisible by B, and it can be divided {count} times.")
else:
    print("The number A is not divisible by B.")

Enter the number A:  20
Enter the number B:  2

The number A is divisible by B, and it can be divided 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [18]:
my_list = [123, 456, 789, 143, 741, 23, 89, 45, 96, 6, 98, 24, 56, 86, 76, 51, 23.69, 92.36, 17.63, 12, 15, 33, 25, 73, 3]

for item in my_list:
    if item % 3 == 0:
        print(f"{item} is divisible by 3")
    else:
        print(f"{item} is not divisible by 3")

123 is divisible by 3
456 is divisible by 3
789 is divisible by 3
143 is not divisible by 3
741 is divisible by 3
23 is not divisible by 3
89 is not divisible by 3
45 is divisible by 3
96 is divisible by 3
6 is divisible by 3
98 is not divisible by 3
24 is divisible by 3
56 is not divisible by 3
86 is not divisible by 3
76 is not divisible by 3
51 is divisible by 3
23.69 is not divisible by 3
92.36 is not divisible by 3
17.63 is not divisible by 3
12 is divisible by 3
15 is divisible by 3
33 is divisible by 3
25 is not divisible by 3
73 is not divisible by 3
3 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANS:- 
Mutable Data Types:
Mutable data types are those whose values can be modified after they are created. This means that operations performed on mutable objects can directly modify the object's value without creating a new object. Mutable data types are useful when you need to modify the data in-place.
Immutable Data Types:
Immutable data types are those whose values cannot be modified after they are created. In other words, any operation on an immutable object creates a new object with the modified value, leaving the original object unchanged. Immutable data types are generally preferred when you want to ensure the integrity and immutability of the data.

In [20]:
#Example

#Mutable
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [22]:
person = {'name': 'Ayush', 'age': 18}
person['age'] = 19
print(person)

{'name': 'Ayush', 'age': 19}

In [23]:
#Immutable
x = 7
x = x + 1
print(x)

8

In [24]:
name = "Ayush"
name = name + "Bhuyar"
print(name)

AyushBhuyar